<h1>Battle of Neighbourhoods</h1>

<h2>1. Introduction/Business Problem</h2>

The population in Washington city has grown significantly over the last decade. So needs around Washington city also become high. Mainly Medical service need is high demand. So here we can analysis the population and other medical facilities to build a hospital in Washington city.

<h2>2. Data Section</h2>

So we have to find a better palce to build a hospital. The palce should satisfy some of the criteras
    1. Population around the city sholud be high
    2. The place shouldn't consist too much of hospitals
    3. The palce shold consist other facilitues like restaurant, Bus station, Railway station,so people density will be high            in the future.

we can use the "**List of cities and towns in Washington**" data to solve our problem. Data can be found at https://en.wikipedia.org/wiki/List_of_cities_and_towns_in_Washington

<h3>2.1 Data preprocess</h3>

In [33]:
import pandas as pd
import numpy as np

In [34]:
import pandas as pd

url = 'https://en.wikipedia.org/wiki/List_of_cities_and_towns_in_Washington'
tables = pd.read_html(url,skiprows=0)[0]
df=pd.DataFrame(tables)
df.columns = df.columns.map(''.join)
df.head()

,NameName,Type[3]Type[3],County[4]County[4],Population2018 estimate[6],Population2010 Census[5],Land area[5]sq mi,Land area[5]km2
0,Aberdeen,First,Grays Harbor,16654,16896,10.65,27.6
1,Airway Heights,Code,Spokane,9200,6114,5.12,13.3
2,Algona,Code,King,3223,3014,1.30,3.4
3,Anacortes,Code,Skagit,17283,15778,11.76,30.5
4,Arlington,Code,Snohomish,19803,17926,9.30,24.1

In [35]:
df=df[['NameName','County[4]County[4]','Population2010 Census[5]','Land area[5]km2']]
df.rename(columns={'County[4]County[4]':'County','NameName':'Name','Population2010 Census[5]':'Population','Land area[5]km2':'Land Area(km2)'}, inplace=True)
df.head()

             Name        County  Population  Land Area(km2)
0        Aberdeen  Grays Harbor       16896            27.6
1  Airway Heights       Spokane        6114            13.3
2          Algona          King        3014             3.4
3       Anacortes        Skagit       15778            30.5
4       Arlington     Snohomish       17926            24.1